.product{
    width:20rem;
    height:20rem;
    overflow: auto;
    display: flex;
    padding: 2%;
    margin : 3%;
    justify-content: center;
    border:1px solid blue;
  
}
.productButton{
    margin: 1rem;
    padding-right: 1rem;
    
}
.MuiButton-containedPrimary{
    margin:5px !important;
}